# pandas 기초

### 주요 내용

1. csv, xlsx 파일 불러오기
2. 데이터 살펴보기
3. DRM 보안 파일 불러오기

<br>

### 목표 
1. 분석에 필요한 데이터를 python으로 불러올 수 있다.
2. 데이터의 일부나 특성을 확인할 수 있다. 


<br>
<hr>
<br>

## 1. 파일 불러와서 살펴보기

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 데이터 불러오기 가능 
아래의 표현들을 활용해서 데이터 파일의 경로 지정 필요 

* `/` : **root**. Windows에서는 C:\
* `~/` : 사용자 폴더. Windows에서는 C:\Users\사용자계정이름
* `./` : 현재 작업 폴더(working directory), 별도로 작업하지 않은 경우 생략 가능
* `../` : 현재 폴더의 상위 폴더


`바탕화면`처럼 익숙한 곳에 새로운 폴더를 만들고, 데이터 파일을 옮겨서 작업하는 것을 추천

In [ ]:
# 현재 작업 폴더 확인
    ## print working directory
%pwd

In [ ]:
# 경로 지정 실습
"/"

<br>

### 1.1. CSV 파일 불러오기

**pandas** 라이브러리 불러오기

In [ ]:
import pandas as pd

In [ ]:
# pandas의 read_csv( ) 활용
df_ins= pd.read_csv("./data/insurance.csv")
df_ins= pd.read_csv("data/insurance.csv")
df_ins    
    ## 경로가 중요! 
    ## ./ : ipynb 노트북 파일 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

In [ ]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

In [ ]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.

<br>

### 1.2. 데이터 살펴보기

In [ ]:
# head( )로 앞 몇개 관측치 확인
df_ins.head(n=40)

In [ ]:
# tail( )로 끝 몇 개 관측치 확인
df_ins.tail(n=3)

In [ ]:
# 관측치/ 변수 개수 확인
df_ins.shape

In [ ]:
# 관측치 개수만 확인
df_ins.shape[0]

In [ ]:
# index(행 이름) 확인
df_ins.index

In [ ]:
# columns(변수 이름) 확인
df_ins.columns

In [ ]:
# 변수 형식 확인
df_ins.dtypes

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [ ]:
df_pr = pd.read_csv("./data/PulseRates.csv")
df_pr

In [ ]:
print(df_pr.dtypes)
df_pr.tail(1)

In [ ]:
df_pr.dtypes

In [ ]:
df_pr.tail(20)

#### [참고] Encoding 지정 및 index, header 지정

In [ ]:
try:
    pd.read_csv('data/고용지표_20221115084415.csv')
except:
    # 옵션 encoding='CP949' 추가
    pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

In [ ]:
# 인코딩(글자 저장 방법) 오류 발생
    ## UnicodeDecodeError  'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte
pd.read_csv('data/고용지표_20221115084415.csv')

In [ ]:
# 옵션 encoding='CP949' 추가
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

In [ ]:
df_lab

In [ ]:
# index, header 지정
df_lab = pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949', index_col=0, header=[0,1])
df_lab.columns

<br>


### 1.3. Excel 파일 불러오기  

`Excel` 파일은 구버전의 **xls**와 새로운 버전의 **xlsx**로 구분하며 추가 라이브러리 `xlrd`와 `openpyxl` 설치 필수
 이후 pandas의 `read_excel( )`을 사용 가능

In [30]:
# 무난한 첫번째 시트 데이터 불러오기
sheet1 = pd.read_excel('./data/test.xlsx')
sheet1

   ID  Var1  Var2  Var3
0   1    11    45    75
1   2    54    32    34
2   4    65    43    54

In [31]:
# 시트 번호 지정하고 2줄 무시하기
sheet2 = pd.read_excel('data/test.xlsx', sheet_name=1, skiprows=2)
sheet2
    ## sheet_name : 시트 이름이나 번호 지정, 번호는 0부터 시작
    ## skiprows   : 무시할 행 수

   이름  나이    키
0  민서  20  160
1  민준  21  175

In [32]:
# 첫 행부터 데이터가 시작되는 데이터 불러오기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None)
sheet3
    ## header : 첫 행에 변수이름이 저장되었는지 여부

      0   1
0  2015  32
1  2016  34
2  2017   -

In [45]:
# 첫 행부터 데이터가 시작되는 데이터 불러오면서 변수 이름 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'])
sheet3.loc[2, '건수'] = True
sheet3.dtypes

년도     int64
건수    object
dtype: object

In [38]:
# 결측 저장값 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'], na_values='-')
sheet3
    ## NaN : 결측값

     년도    건수
0  2015  32.0
1  2016  34.0
2  2017   NaN


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[Dacon](https://dacon.io/)

In [52]:
pd.read_csv("/Users/jhpark/Downloads/경상북도 영덕군_1톤트럭 폐차정보_20231006.csv", encoding="cp949")

,사용본거지시군구명,최초등록일,폐차일,차명,주행거리,폐차사유,데이터기준일자
0,경상북도 영덕군,1996-04-23,2023-05-31,와이드봉고킹캡,176916,자진말소(폐차),2023-10-06
1,경상북도 영덕군,1996-07-02,2023-04-20,포터장축슈퍼캡,185329,자진말소(폐차),2023-10-06
2,경상북도 영덕군,1996-11-25,2023-04-21,포터초장축슈퍼캡,288897,자진말소(폐차),2023-10-06
3,경상북도 영덕군,1997-02-11,2023-06-19,포터초장축슈퍼캡,215495,자진말소(폐차),2023-10-06
4,경상북도 영덕군,1997-03-24,2023-04-26,포터장축슈퍼캡,499047,자진말소(폐차),2023-10-06
...,...,...,...,...,...,...,...
137,경상북도 영덕군,2013-07-12,2023-06-21,포터Ⅱ (PORTERⅡ),308842,자진말소(폐차),2023-10-06
138,경상북도 영덕군,2014-03-10,2023-08-11,봉고Ⅲ 1톤,153800,자진말소(폐차),2023-10-06
139,경상북도 영덕군,2015-01-12,2023-03-02,봉고Ⅲ 1톤,180570,자진말소(폐차),2023-10-06
140,경상북도 영덕군,2015-10-16,2023-08-30,포터Ⅱ (PORTERⅡ),219360,자진말소(폐차),2023-10-06
141,경상북도 영덕군,2020-04-28,2023-07-11,포터Ⅱ (PORTERⅡ),252000,자진말소(폐차),2023-10-06

## 2.  [참고]DRM 보안 적용된 Excel 파일 불러오기

### 2.1. pywin32 활용

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
df_drm = pd.DataFrame(listValue[1:] , columns=listValue[0]) 

excel.Quit()     

df_drm

<br>
<br>

### 2.2. xlwings 라이브러리 활용

In [ ]:
# 라이브러리 설치
# !pip install xlwings

In [ ]:
# 라이브러리 불러오기
import xlwings as xw
import pandas as pd
import os

In [ ]:
# Excel 파일 열기
# filepath = os.getcwd() +'/data/test.xlsx'
book = xw.Book('./data/test.xlsx')

In [ ]:
# Sheet 선택
sheet = book.sheets[0]    

# 전체 데이터 데이터 불러오기
df_drm = sheet.used_range.options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 특정 부분만 불러오기
sheet = book.sheets[1]    
df_drm = sheet.range("A3:C5").options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 종료
xw.apps.active.quit()

#### End of script