# 데이터 불러오기/살펴보기

### 주요 내용

1. csv, xlsx 파일 불러오기
2. 데이터 살펴보기
3. DRM 보안 파일 불러오기

<br>

### 목표 
1. 분석에 필요한 데이터를 python으로 불러올 수 있다.
2. 데이터의 일부나 특성을 확인할 수 있다. 


<br>
<hr>
<br>

## 1. 파일 불러와서 살펴보기

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 데이터 불러오기 가능 
아래의 표현들을 활용해서 데이터 파일의 경로 지정 필요 

* `/` : **root**. Windows에서는 C:\
* `~/` : 사용자 폴더. Windows에서는 C:\Users\사용자계정이름
* `./` : 현재 작업 폴더(working directory), 별도로 작업하지 않은 경우 생략 가능
* `../` : 현재 폴더의 상위 폴더


`바탕화면`처럼 익숙한 곳에 새로운 폴더를 만들고, 데이터 파일을 옮겨서 작업하는 것을 추천

In [1]:
# 현재 작업 폴더 확인
    ## print working directory
%pwd

'C:\\Users\\user\\Desktop\\강의자료\\실습자료_Python 데이터 분석'

<br>

### 1.1. CSV 파일 불러오기

**pandas** 라이브러리 불러오기

In [2]:
import pandas as pd

In [3]:
# pandas의 read_csv( ) 활용
#df_ins= pd.read_csv("./data/insurance.csv")
df_ins= pd.read_csv("data/insurance.csv")
df_ins    
    ## 경로가 중요! 
    ## ./ : ipynb 노트북 파일 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

pandas.core.frame.DataFrame

In [ ]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.

<br>

### 1.2. 데이터 살펴보기

In [9]:
# head( )로 앞 몇개 관측치 확인
df_ins.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [11]:
# tail( )로 끝 몇 개 관측치 확인
df_ins.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [12]:
# 관측치/ 변수 개수 확인
df_ins.shape

(1338, 7)

In [15]:
# 관측치 개수만 확인
df_ins.shape[0]

1338

In [16]:
# index(행 이름) 확인
df_ins.index

RangeIndex(start=0, stop=1338, step=1)

In [17]:
# columns(변수 이름) 확인
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [18]:
# 변수 형식 확인
df_ins.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [19]:
df_pr = pd.read_csv("data/PulseRates.csv")

In [22]:
df_pr

,Height,Weight,Age,Gender,Smokes,Alcohol,Exercise,Ran,Pulse1,Pulse2,Year
0,173,57.0,18,2,2,1,2,2,86.0,88.0,93
1,179,58.0,19,2,2,1,2,1,82.0,150.0,93
2,167,62.0,18,2,2,1,1,1,96.0,176.0,93
3,195,84.0,18,1,2,1,1,2,71.0,73.0,93
4,173,64.0,18,2,2,1,3,2,90.0,88.0,93
...,...,...,...,...,...,...,...,...,...,...,...
105,93,27.0,19,2,2,2,3,2,119.0,120.0,98
106,161,43.0,19,2,2,2,3,2,90.0,89.0,98
107,182,60.0,22,1,2,1,3,2,86.0,84.0,98
108,170,65.0,18,1,2,1,1,2,69.0,64.0,98
109,185,85.0,19,1,2,1,2,2,75.0,68.0,98

#### [참고] Encoding 지정 및 index, header 지정

In [ ]:
# 인코딩(글자 저장 방법) 오류 발생
    ## UnicodeDecodeError  'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte
pd.read_csv('data/고용지표_20221115084415.csv')

In [ ]:
# 옵션 encoding='CP949' 추가
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

In [31]:
# index, header 지정
df_layoff = pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949', index_col=0, header=[0,1])
df_layoff.index

Index(['합계', '남자', '여자'], dtype='object')

<br>


### 1.3. Excel 파일 불러오기  

`Excel` 파일은 구버전의 **xls**와 새로운 버전의 **xlsx**로 구분하며 추가 라이브러리 `xlrd`와 `openpyxl` 설치 필수
 이후 pandas의 `read_excel( )`을 사용 가능 
 > pandas 1.3 이전 버전에서는 **xlsx** 파일을 불러올 때 함수 안에 `, engine='openpyxl'`를 추가해야할 수도 있습니다.

In [32]:
# 무난한 첫번째 시트 데이터 불러오기
sheet1 = pd.read_excel('./data/test.xlsx')
sheet1

   ID  Var1  Var2  Var3
0   1    11    45    75
1   2    54    32    34
2   4    65    43    54

In [33]:
# 시트 번호 지정하고 2줄 무시하기
sheet2 = pd.read_excel('data/test.xlsx', sheet_name=1, skiprows=2)
sheet2
    ## sheet_name : 시트 이름이나 번호 지정, 번호는 0부터 시작
    ## skiprows   : 무시할 행 수

   이름  나이    키
0  민서  20  160
1  민준  21  175

In [37]:
# 첫 행부터 데이터가 시작되는 데이터 불러오기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None)
sheet3.dtypes
    ## header : 첫 행에 변수이름이 저장되었는지 여부

0     int64
1    object
dtype: object

In [38]:
# 첫 행부터 데이터가 시작되는 데이터 불러오면서 변수 이름 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'])
sheet3

     년도  건수
0  2015  32
1  2016  34
2  2017   -

In [41]:
# 결측 저장값 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'], na_values='-')
sheet3
    ## NaN : 결측값

     년도    건수
0  2015  32.0
1  2016  34.0
2  2017   NaN


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[Dacon](https://dacon.io/)

In [44]:
pd.read_csv("/Users/user/AppData/Local/Temp/MicrosoftEdgeDownloads/f5e47a01-9e4d-49e5-a916-d7ac5f5c78aa/광주광역시 광산구_금융기관 현황_20230508.csv", encoding="cp949", index_col=0)

,금융기관,점포명,주소,전화번호,위도,경도,데이터기준일자
연번,,,,,,,
1,산업,광주(지),광주광역시 광산구 무진대로 261 (우산동),062-958-1000,35.161999,126.809208,2023-05-08
2,기업,광산(지),광주광역시 광산구 무진대로 261 (우산동),062-942-9761,35.161999,126.809208,2023-05-08
3,기업,하남공단(지),광주광역시 광산구 하남산단8번로 169 (도천동),062-956-1811,35.209141,126.814229,2023-05-08
4,기업,평동공단,광주광역시 광산구 평동산단로 209 (옥동),062-946-1644,35.125496,126.767691,2023-05-08
5,기업,광주수완,광주광역시 광산구 장신로 140 (수완동),062-962-6501,35.190402,126.825320,2023-05-08
...,...,...,...,...,...,...,...
159,KB증권,광산,광주광역시 광산구 사암로 205(우산동),062-450-0300,35.162783,126.807953,2023-05-08
160,KB증권,첨단라운지,광주광역시 광산구 월계로 175(월계동),062-441-5100,35.213710,126.845272,2023-05-08
161,NH투자증권,수완ＷＭ센터,광주광역시 광산구 장신로50번길 4(장덕동),02-1544-0000,35.190561,126.815424,2023-05-08
162,신한투자증권,수완,광주광역시 광산구 임방울대로 342(수완동),062-956-0707,35.190384,126.824326,2023-05-08
163,DB금융투자,첨단,광주광역시 광산구 첨단중앙로 136(월계동),062-975-1000,35.217229,126.842654,2023-05-08

## 2.  DRM 보안 적용된 Excel 파일 불러오기

### 2.1. pywin32 활용

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

filepath

In [ ]:
# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
pd.DataFrame(listValue[1:] , columns=listValue[0])

In [ ]:
# Excel 종료
excel.Quit()

<br>

한번에 실행

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
df_drm = pd.DataFrame(listValue[1:] , columns=listValue[0]) 

excel.Quit()     

df_drm

<br>
<br>

### 2.2. xlwings 라이브러리 활용

+ 장점: VBA 연동 가능

In [ ]:
# 라이브러리 설치
# !pip install xlwings

In [ ]:
# 라이브러리 불러오기
import xlwings as xw
import pandas as pd
import os

In [ ]:
# Excel 파일 열기
# filepath = os.getcwd() +'/data/test.xlsx'
book = xw.Book('./data/test.xlsx')

In [ ]:
# Sheet 선택
sheet = book.sheets[0]    

# 전체 데이터 데이터 불러오기
df_drm = sheet.used_range.options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 특정 부분만 불러오기
sheet = book.sheets[1]    
df_drm = sheet.range("A3:C5").options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 종료
xw.apps.active.quit()

#### End of script