# pandas 기초

### 주요 내용

1. csv, xlsx 파일 불러오기
2. 데이터 살펴보기
3. DRM 보안 파일 불러오기

<br>

### 목표 
1. 분석에 필요한 데이터를 python으로 불러올 수 있다.
2. 데이터의 일부나 특성을 확인할 수 있다. 


<br>
<hr>
<br>

## 1. 파일 불러와서 살펴보기

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 데이터 불러오기 가능 
아래의 표현들을 활용해서 데이터 파일의 경로 지정 필요 

* `/` : **root**. Windows에서는 C:\
* `~/` : 사용자 폴더. Windows에서는 C:\Users\사용자계정이름
* `./` : 현재 작업 폴더(working directory), 별도로 작업하지 않은 경우 생략 가능
* `../` : 현재 폴더의 상위 폴더


`바탕화면`처럼 익숙한 곳에 새로운 폴더를 만들고, 데이터 파일을 옮겨서 작업하는 것을 추천

In [ ]:
# 현재 작업 폴더 확인
    ## print working directory
%pwd

In [ ]:
# 경로 지정 실습
"/"

<br>

### 1.1. CSV 파일 불러오기

**pandas** 라이브러리 불러오기

In [ ]:
import pandas as pd

In [ ]:
# pandas의 read_csv( ) 활용
df_ins= pd.read_csv("./data/insurance.csv")
df_ins= pd.read_csv("data/insurance.csv")
df_ins    
    ## 경로가 중요! 
    ## ./ : ipynb 노트북 파일 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

In [ ]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

In [ ]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.

<br>

### 1.2. 데이터 살펴보기

In [ ]:
# head( )로 앞 몇개 관측치 확인
df_ins.head(n=1)

In [ ]:
# tail( )로 끝 몇 개 관측치 확인
df_ins.tail(n=3)

In [ ]:
# 관측치/ 변수 개수 확인
df_ins.shape

In [ ]:
sp = df_ins.shape
sp[1]

In [ ]:
# 관측치 개수만 확인
df_ins.shape[1]

In [ ]:
# index(행 이름) 확인
df_ins.index

In [ ]:
# columns(변수 이름) 확인
df_ins.columns

In [ ]:
# 변수 형식 확인
df_ins.dtypes

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [ ]:
df_pr = pd.read_csv("./data/PulseRates.csv")
df_pr

In [ ]:
df_pr.dtypes

In [ ]:
df_pr.head(10)

#### [참고] Encoding 지정 및 index, header 지정

In [ ]:
# 인코딩(글자 저장 방법) 오류 발생
    ## UnicodeDecodeError  'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte
pd.read_csv('data/고용지표_20221115084415.csv')

In [ ]:
# 옵션 encoding='CP949' 추가
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

In [ ]:
# index, header 지정
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949', index_col=0, header=[0,1])

<br>


### 1.3. Excel 파일 불러오기  

`Excel` 파일은 구버전의 **xls**와 새로운 버전의 **xlsx**로 구분하며 추가 라이브러리 `xlrd`와 `openpyxl` 설치 필수
 이후 pandas의 `read_excel( )`을 사용 가능

In [ ]:
pd.read_excel('./data/PulseRates.csv')

In [ ]:
# 무난한 첫번째 시트 데이터 불러오기
sheet1 = pd.read_excel('./data/test.xlsx')
sheet1

In [ ]:
# 시트 번호 지정하고 2줄 무시하기
sheet2 = pd.read_excel('data/test.xlsx', sheet_name=1, skiprows=2)
sheet2
    ## sheet_name : 시트 이름이나 번호 지정, 번호는 0부터 시작
    ## skiprows   : 무시할 행 수

In [ ]:
# 첫 행부터 데이터가 시작되는 데이터 불러오기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None)
sheet3
    ## header : 첫 행에 변수이름이 저장되었는지 여부

In [ ]:
# 첫 행부터 데이터가 시작되는 데이터 불러오면서 변수 이름 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'])
sheet3

In [ ]:
# 결측 저장값 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'], na_values='-')
sheet3
    ## NaN : 결측값


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[Dacon](https://dacon.io/)

In [41]:
pd.read_csv("../../../Downloads/소방청_민원정보_다중이용업소 안전관리 현황_20230831/다중이용업소시군구허가정보.csv", encoding="cp949")

,폐업일자,영업재개일,영업의종류,영업상태,소재지_도로행정동코드,소재지_주소,소재지_산,소재지_행정동코드,영업장면적,소재지_반,...,영업의허가_등록_인가_신고일,허가_등록_인가_신고번호,허가구분,처리일자,레코드구분,등록일시,시군구명,일련번호,이관여부,수정일시
0,2022-10-26,NaN,100000717,1,NaN,경상북도 영주시 영주동 35 - 17 외 1필지,1,NaN,66.68,0,...,2021-01-07,20230801156,4,2023-06-14,M,2023-11-17,경상북도 영주시,0,N,2023-06-23
1,2014-06-26,NaN,101,2,NaN,서울특별시 서초구 서초동 1332 - 2 무지개종합상가 지하1층 1호,1,NaN,39.60,0,...,2014-06-26,18343,4,2014-06-27,B,2023-06-14,서울특별시 송파구,8,N,2023-06-14
2,2017-02-20,NaN,104,1,NaN,서울특별시 노원구 월계동 292 - 59,1,NaN,10.00,0,...,2017-02-20,20170059167,4,2017-02-21,B,2023-02-17,서울특별시 노원구,6,N,2023-02-17
3,2017-08-07,NaN,101,1,NaN,경기도 파주시 목동동 690 상가1동 105호,1,NaN,43.08,0,...,2017-08-07,20170355998,4,2017-08-08,B,2023-08-17,경기도 구리시,9,N,2023-08-17
4,2017-11-17,NaN,101,1,NaN,인천광역시 남구 주안동 1437 - 8,1,NaN,178.86,0,...,2017-11-17,20170194015,4,2017-11-18,B,2023-11-17,인천광역시 남구,7,N,2023-11-17
5,2017-11-15,NaN,30105,13,NaN,인천광역시 남구 주안동 130-5번지 덕진빌딩,1,NaN,96.00,0,...,2017-12-11,20030197327,4,2017-12-12,E,2023-12-17,인천광역시 남구,1,N,2023-12-17
6,2017-12-29,NaN,104,1,NaN,전라남도 영광군 영광읍 남천리 364 - 6,1,NaN,9.90,0,...,2017-12-29,20170527141,4,2017-12-30,B,2023-12-17,전라남도 순천시,3,N,2023-12-17
7,2018-04-11,NaN,101,1,NaN,서울특별시 종로구 동숭동 1 - 11,1,NaN,9.90,0,...,2018-04-11,20180025245,4,2018-04-12,B,2023-04-18,서울특별시 동대문구,6,N,2023-04-18
8,2019-06-07,NaN,101,1,NaN,서울특별시 영등포구 여의도동 23 서울 국제금융 센터 스트리트샵 S29호,1,NaN,52.37,0,...,2019-06-07,20190086901,4,2019-06-08,B,2023-06-19,서울특별시 영등포구,3,N,2023-06-19
9,2019-07-04,NaN,104,1,NaN,전라북도 익산시 영등동 714 - 1 신일아파트상가 112동 101호,1,NaN,0.00,0,...,2019-07-04,20190491397,4,2019-07-05,B,2023-07-19,전라북도 익산시,4,N,2023-07-19
10,2020-01-06,NaN,101,1,NaN,경기도 화성시 안녕동 180 - 135 SM스퀘어1 4동 지1층일부호,1,NaN,322.20,0,...,2020-01-06,20200382036,4,2020-01-07,B,2023-01-20,경기도 안양시,3,N,2023-01-20
11,2020-01-15,NaN,101,1,NaN,전라북도 부안군 변산면 격포리 788 - 8,1,NaN,89.38,0,...,2020-01-15,20200505009,4,2020-01-16,B,2023-01-20,전라북도 부안군,2,N,2023-01-20
12,2020-06-10,NaN,101,1,NaN,서울특별시 송파구 가락동 600 가락동 농수산물도매시장,1,NaN,6.50,6,...,2020-06-10,20200115388,4,2020-06-11,B,2023-06-20,서울특별시 송파구,3,N,2023-06-20
13,2020-06-02,NaN,104,1,NaN,전라남도 순천시 조례동 560 금호아파트 1층 상가동 106호,1,NaN,3.30,0,...,2020-06-02,20200513344,4,2020-06-03,B,2023-06-20,전라남도 순천시,13,N,2023-06-20
14,2020-07-10,NaN,104,1,NaN,충청남도 아산시 배방읍 장재리 1348 아산배방엘에이치4단지 지하1층 상가1동 113호,1,NaN,89.47,0,...,2020-07-10,20200467558,4,2020-07-11,B,2023-07-20,충청남도 아산시,5,N,2023-07-20

In [45]:
pd.read_csv("../../../Downloads/소방청_민원정보_다중이용업소 안전관리 현황_20230831/다중이용업소시군구허가정보.csv",
            encoding="cp949", usecols=list(range(1,10,2)))

,영업재개일,영업상태,소재지_주소,소재지_행정동코드,소재지_반
0,NaN,1,경상북도 영주시 영주동 35 - 17 외 1필지,NaN,0
1,NaN,2,서울특별시 서초구 서초동 1332 - 2 무지개종합상가 지하1층 1호,NaN,0
2,NaN,1,서울특별시 노원구 월계동 292 - 59,NaN,0
3,NaN,1,경기도 파주시 목동동 690 상가1동 105호,NaN,0
4,NaN,1,인천광역시 남구 주안동 1437 - 8,NaN,0
5,NaN,13,인천광역시 남구 주안동 130-5번지 덕진빌딩,NaN,0
6,NaN,1,전라남도 영광군 영광읍 남천리 364 - 6,NaN,0
7,NaN,1,서울특별시 종로구 동숭동 1 - 11,NaN,0
8,NaN,1,서울특별시 영등포구 여의도동 23 서울 국제금융 센터 스트리트샵 S29호,NaN,0
9,NaN,1,전라북도 익산시 영등동 714 - 1 신일아파트상가 112동 101호,NaN,0
10,NaN,1,경기도 화성시 안녕동 180 - 135 SM스퀘어1 4동 지1층일부호,NaN,0
11,NaN,1,전라북도 부안군 변산면 격포리 788 - 8,NaN,0
12,NaN,1,서울특별시 송파구 가락동 600 가락동 농수산물도매시장,NaN,6
13,NaN,1,전라남도 순천시 조례동 560 금호아파트 1층 상가동 106호,NaN,0
14,NaN,1,충청남도 아산시 배방읍 장재리 1348 아산배방엘에이치4단지 지하1층 상가1동 113호,NaN,0

## 2.  [참고]DRM 보안 적용된 Excel 파일 불러오기

### 2.1. pywin32 활용

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
df_drm = pd.DataFrame(listValue[1:] , columns=listValue[0]) 

excel.Quit()     

df_drm

<br>
<br>

### 2.2. xlwings 라이브러리 활용

In [ ]:
# 라이브러리 설치
# !pip install xlwings

In [ ]:
# 라이브러리 불러오기
import xlwings as xw
import pandas as pd
import os

In [ ]:
# Excel 파일 열기
# filepath = os.getcwd() +'/data/test.xlsx'
book = xw.Book('./data/test.xlsx')

In [ ]:
# Sheet 선택
sheet = book.sheets[0]    

# 전체 데이터 데이터 불러오기
df_drm = sheet.used_range.options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 특정 부분만 불러오기
sheet = book.sheets[1]    
df_drm = sheet.range("A3:C5").options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 종료
xw.apps.active.quit()

#### End of script