# 데이터 집계와 시각화

### 주요 내용

1. 건수, 합계 평균 등 집계값 계산
2. 히스토그램, 상자그림, 막대그래프 등 그래프 작성 
3. 정렬 및 피벗테이블 활용

<br>

### 목표 
1. 집계값을 계산할 수 있다.
2. 적절한 그래프를 작성하고 올바르게 해석할 수 있다.
3. 피벗 테이블 등 다양한 방법으로 집계하고, 결과값을 적절히 정렬할 수 있다. 


<br>
<hr>
<br>

## 예제 및 실습 데이터 불러오기

In [ ]:
# 데이터 불러오기
import pandas as pd
df_ins = pd.read_csv('data/insurance.csv')
df_ins.head()

In [ ]:
df_sp = pd.read_csv('data/StudentsPerformance.csv')
df_sp.head()

In [ ]:
df_sp.describe()
df_sp.describe(include='number')
df_sp.describe(include='object')

<br>

## 1. 수치형 변수의 집계값과 히스토그램

하나의 수치형 변수로 합계, 평균과 같은 집계값을 계산할 수 있고 히스토그램으로 분포를 확인


<br>

### 1.1. 수치형 변수의 집계값 계산

수치형 변수를 선택한 다음 sum( ), mean( ) 같은 메서드를 활용해서 단순한 집계값을 계산  
먼저 변수를 선택하고 다양한 집계 함수를 메서드로 활용

In [ ]:
# 관심 변수 선택
df_ins['charges']

In [ ]:
# 수치형 변수의 집계값 계산
    # mean( ) : 수치형 Series의 메서드
df_ins['charges'].mean()

In [ ]:
df_ins['charges'].sum()

In [ ]:
# 분산과 표준편차계산
df_ins['charges'].var(), df_ins['charges'].std()

In [ ]:
# 관측치 수 계산하기
df_ins['charges'].count()

<br>

### 1.2. 히스토그램 그리기

하나의 수치형변수의 분포를 파악하기 위해서 히스토그램을 활용  
Python에서 그래프를 그릴때는 기본적으로 matplotlib 라이브러리를 활용하지만, 좀 더 가독성이 좋고 그래프가 이쁜 seaborn 라이브러리를 추가로 활용

<br>

#### 1.2.1. pandas의 메서드와 matplotlib을 활용한 그래프

In [ ]:
# 라이브러리 불러오기
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 한글 폰트 설정 (Windows)
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)

In [ ]:
# 한글 폰트 설정 (macOS)
plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

In [ ]:
# 가장 간단한 히스토그램과 상자그림
    # DataFrame의 plot 메서드 활용
    # plt.show() : 최종 그래프 출력함수, 생략 가능
df_ins['age'].plot(kind='hist')
plt.show()

In [ ]:
# matplotlib의 hist( )를 활용한 히스토그램 그리기
plt.hist(df_ins['age'])
plt.show()

In [ ]:
# 그래프를 꾸며 다시 그리기
plt.figure(figsize=(12,6)) ##사이즈 정하고

plt.hist(df_ins['age'])
plt.title('나이 히스토그램', fontsize=30)
plt.xlabel('Age', fontsize=20)
plt.ylabel('Frequency', fontsize=20)

plt.show()

<br>

#### 1.2.2. seaborn을 활용한 히스토그램

seaborn 라이브러리를 활용하면 그래프를 그리는 명령어가 좀 더 직관적이고 DataFrame 형식을 활용하기 편함

In [ ]:
# histplot()을 활용한 히스토그램
sns.histplot(data=df_ins,
             x='age', bins=10)
plt.show()

<br>

#### [실습] 한 수치형 변수에 대한 요약과 시각화

1. df_sp에서 'math score'의 평균 계산하기

2. df_sp에서 'math score'의 히스토그램을 matplotlib으로 그려기

3. df_sp에서 'math score'의 히스토그램을 seaborn으로 그려기

In [ ]:
series = df_sp['math score']
series.std()

In [ ]:
plt.hist(df_sp['math score'])

In [ ]:
sns.histplot(data=df_sp, x='math score')

### 1.3. 분위수와 상자그림

`quantile()`을 활용해서 분위수를 계산  

최솟값(minimum, 0%), Q1(1st Quartile, 25%), 중앙값(median, 50%), Q3(3rd Quartile, 75%), 최댓값(maximum, 100%)을 사분위수(quartile)이라고 부르고, **상자그림(boxplot)**으로 시각화

In [ ]:
df_ins['charges'].quantile(0.1)

In [ ]:
df_ins['charges'].quantile([0.0,0.25,0.5,0.75,1.0])
    ## quantile( ) : 계산할 분위(1.0이 최댓값) 를 리스트로 묶기

In [ ]:
# matplotlib의 boxplot()으로 상자그림 그리기
plt.boxplot(df_ins['charges'])
plt.show()

In [ ]:
# boxplot( )을 활용한상자그림
sns.boxplot(data=df_ins,
            y='charges')
plt.show()

<br>


#### [실습]

1. df_sp에서 'reading score'의 Q1(25%), 중위수(median, 50%), Q3(75%) 계산하기
2. df_sp에서 'reading score'의 상자그림을 seaborn으로 그리기

In [ ]:
df_sp['reading score'].quantile([0.25, 0.5, 0.75])

In [ ]:
sns.boxplot(data=df_sp, y='reading score')

In [ ]:
ser = pd.Series([0,1])
ser.std(ddof=0)

<br>

## 2. 범주형 변수의 요약과 시각화  

범주형 변수는 정해진 수준(level) 중에 하나의 값을 갖기 때문에 분석 방법이 단순하며 개수를 세면 됨

<br>


### 2.1. 그룹별 건수 계산과 시각화

> SQL에서도 가장 잦은 키워드 조합이 `SELECT COUNT(1) ... GROUP BY ...`입니다.  

범주형 변수/그룹 변수로 수준별 관측치 수를 셀 수 있고, 막대그래프로 표현

In [ ]:
# 수준(levels) 및 개수 확인 
df_ins['smoker'].unique()

In [ ]:
df_ins['smoker'].nunique()

<br>

#### 2.1.1. 수준별 관측치 수 계산 및 막대그래프 작성

In [ ]:
# 수준별 관측치 수 세기
df_ins['smoker'].value_counts()

In [ ]:
# plot( ) 메서드를 활용한 막대그래프 
df_ins['smoker'].value_counts().plot(kind='bar')

<br>

#### 2.1.2. groupby()와 size()를 활용한 집계와 시각화  

범주형 변수의 집계에서는 *value_counts()*만 활용해도 충분하지만 이후 분석 과정에서 자주 활용할 *groupby()*를 활용한 방법도 활용

In [ ]:
# groupby()와 size( )를 활용한 그룹별 건수 계산
    # 결과는 앞과 동일
df_ins.groupby('smoker').size()

In [ ]:
# plot() 메서드를 활용한 시각화
df_ins.groupby('smoker').size().plot(kind='bar')

<br>

#### 2.1.3. DataFrame 형식의 활용

*groupby()*에 그룹 변수 하나를 지정하면 **Series** 형식으로 출력되어 가독성이 떨어질 수 있음  
`as_index=False` 옵션을 활용해서 집계 결과를 DataFrame 형식으로 바꾸고 시각화에 활용

In [ ]:
# DataFrame 형식으로 바꾸기
    # as_index=False : 그룹 변수를 index로 지정하지 않음
df_agg_smoker = df_ins.groupby('smoker', as_index=False).size()
df_agg_smoker

In [ ]:
# matplotlib의 bar()를 활용한 시각화
plt.bar(df_agg_smoker['smoker'], df_agg_smoker['size'])
plt.show()

In [ ]:
# seaborn의 barplot( )을 활용한 시각화
sns.barplot(data= df_agg_smoker,
            x='smoker',
            y='size')

#### [참고]

seaborn의 countplot( ) 함수를 활용하면, groupby(), size() 없이 원본 데이터에서 바로 막대그래프를 그릴 수도 있음

In [ ]:
# 집계 없이도 가능한 seaborn 막대그래프
sns.countplot(data=df_ins,
              x='smoker')

#### [실습]

1. 데이터 df_sp에서 'parental level of education'별 관측치 수를 계산하고 matplotlib 막대그래프 그리기
2. 'race/ethnicity'별 관측치 수를 계산해서 DataFrame 형식으로 저장하고, seaborn 막대그래프로 그리기

In [ ]:
df_sp.head()

In [ ]:
plt.figure(figsize=(10,6))
df_agg_edu = df_sp.groupby('parental level of education', as_index=False).size()
plt.bar(df_agg_edu['parental level of education'], df_agg_edu['size'])

In [ ]:
df_agg_race = df_sp.groupby('race/ethnicity', as_index=False).size()
sns.barplot(data=df_agg_race, x='race/ethnicity', y='size')

<br>  

## 3. 두 수치형 변수의 관계 

두 수치형 변수의 관계를 파악하기 위해서 **산점도(scatterplot)**를 그리고 **상관계수(correlation coefficient)**를 계산

In [ ]:
# 예제 데이터 불러오기
    # 아빠키와 아들키
df_heights = pd.read_csv('data/heights.csv')
df_heights

In [ ]:
# seaborn으로 산점도 그리기
mean_f = df_heights['father'].mean()
mean_s = df_heights['son'].mean()
print(mean_f, mean_s)

plt.figure(figsize=(8,8))

sns.scatterplot(data=df_heights, 
                x='father', 
                y='son', 
                alpha=0.7)
plt.axhline(mean_s) # 수평선 추가
plt.axvline(mean_f) # 수직선 추가
plt.show()

In [ ]:
# 공분산 계산하기
df_heights[['father','son']].cov()

In [ ]:
# 상관계수 계산하기
df_heights[['father','son']].corr()

#### [실습] 두 수치형 변수의 관계 탐색
 
1. df_sp에서 'math score'와 'reading score'의 산점도를 그리고 상관계수 계산하기
2. df_ins에서 bmi와 charges의 산점도를 그리고 상관계수 계산하기
3. (선택) df_ins에서 groupby('smoker')를 활용해서 bmi와 charges의 상관계수를 smoker별로 나눠 계산하기

In [ ]:
sns.scatterplot(data=df_sp, x='writing score', y='reading score', alpha=0.5)

In [ ]:
df_sp[['math score', 'reading score', 'writing score']].corr()

In [ ]:
sns.scatterplot(data=df_ins, x='bmi', y='charges', alpha=0.5, hue='smoker')

In [ ]:
df_ins[['bmi', 'charges']].corr()

In [ ]:
for col in df_ins.columns:
    sns.scatterplot(data=df_ins, x='bmi', y='charges', alpha=0.5, hue=col)
    plt.show()

In [ ]:
df_ins.groupby('smoker')[['bmi', 'charges']].corr()

<br>


## 4. 그룹별 집계값의 계산과 분포 비교

범주형 변수를 그룹처럼 활용해서 그룹별 평균을 계산하고, 그룹별 상자그림을 그려서 그룹간 분포를 비교  
한 변수의 집계에서 `groupby()`를 추가하면 되고, 필요에 따라 `agg()`를 활용 가능

In [ ]:
# 그룹별 평균 계산
df_ins.groupby('sex', as_index=False)['charges'].mean()

In [ ]:
# 여러개 그룹변수를 활용한 평균 계산
df_ins.groupby(['sex', 'smoker'], as_index=False)['charges'].mean()

In [ ]:
# 그룹별 여러 변수의 평균 계산 
df_ins.groupby('sex', as_index=False)[['charges', 'age']].mean()

In [ ]:
# 그룹별 한 변수의 여러 집계값 계산
df_ins.groupby('sex', as_index=False)['charges'].agg(['min','max','mean'])

In [ ]:
# 일반적인 그룹별 집계값 계산
df_ins.groupby('sex', as_index=False).agg({'age':['min','max','mean'], 'charges':['mean', 'median']})

In [ ]:
# 겹쳐그린 히스토그램 
sns.histplot(data=df_ins, 
             x = 'charges',
             hue='sex')

In [ ]:
# 많이 겹치기 어려운 히스토그램
sns.histplot(data=df_ins, 
             x = 'charges',
             hue='region')

In [ ]:
# 그룹별 상자그림 
sns.boxplot(data=df_ins,
            x='sex', 
            y='charges')
plt.show()

sns.boxplot(data=df_ins,
            x='region', 
            y='charges')
plt.show()

In [ ]:
# hue를 추가로 활용한 상자그림
sns.boxplot(data=df_ins,
            x='region', 
            y='charges',
            hue='smoker')
plt.show()

#### [실습] 변수 관계 탐색

1. 데이터 df_sp에서 수치형 변수 하나와 범주형 변수 하나를 선택해서 그룹별 평균을 계산하고 상자그림 그리기
2. 데이터 df_sp에서 두 그룹 변수를 활용해서 `math score`의 평균을 계산하기
3. 2.의 세 변수를 x, y, hue로 활용해 seaborn으로 상자그림 그리기

In [ ]:
df_sp.head()

In [ ]:
df_sp.groupby('race/ethnicity', as_index=False)['math score'].mean()

In [ ]:
sns.boxplot(data=df_sp, x='race/ethnicity', y='math score')

In [ ]:
df_sp.groupby(['race/ethnicity','gender'], as_index=False)['math score'].mean()

In [ ]:
sns.boxplot(data=df_sp.sort_values('race/ethnicity'), x='race/ethnicity', y='reading score', hue='gender')

## 5. 표 형태 집계와 열지도

Excel의 피벗테이블과 같이 표 형태의 집계를 자주 활용  
`crosstab()`으로 교차표를 만들거나 `pivot_table()`로 피벗테이블을 만들고 활용

<br>

### 5.1. 교차표 생성과 열지도 그리기

한 범주형 변수의 관계를 확인할 때 개수를 센 것과 마찬가지로, 두 범주형 변수의 관계는 두 변수의 수준 조합별로 개수를 셈  
*crosstab( )*을 활용해서 교차표를 생성하고 표 형태의 결과 데이터를 **seaborn**의 *heatmap()*에 넣어서 열지도로 시각화

In [ ]:
# crosstab()을 활용한 교차표 생성
tab1 = pd.crosstab(df_ins['sex'], df_ins['smoker'])
tab1

In [ ]:
# 열지도 시각화
    # cmap : 색상 조합
    # annot=True : 수치 출력 여부
    # fmt : 수치 출력 형식, 'd' 정수, '.2f' 소수점 둘째자리 소수
sns.heatmap(tab1, cmap='YlGnBu', annot=True, fmt='d')
plt.show()

* 참고: [Color Palette](https://seaborn.pydata.org/tutorial/color_palettes.html)

<br>

*crosstab( )*에서 `margins=True` 옵션을 활용하면 행, 열 합계, 전체 합계 등을 한번에 계산할 수 있음

In [ ]:
# crosstab()을 활용한 교차표 생성
tab1m = pd.crosstab(df_ins['sex'], df_ins['smoker'], margins=True)
tab1m

In [ ]:
sns.heatmap(tab1m, cmap='YlGnBu', annot=True, fmt='d')
plt.show()

<br>

### 5.2. 행백분율과 열백분율의 계산과 열지도 그리기

두 변수의 관계를 제대로 파악하기 위해서는 상대적인 숫자 계산이 필수적  
`normalize=` 옵션을 활용해서 교차표에서 비율을 계산할 수 있음 

* `normalize='all'`: 전체 중 각 셀 비중
* `normalize='index'`: 행 백분율(행 합계 중 각 셀의 비중)
* `normalize='columns'`: 열 백분율(열 합계 중 각 셀의 비중)

In [ ]:
# 전체 백분율
    # normalize : '정규화'
tab1_all = pd.crosstab(df_ins['sex'], df_ins['smoker'], normalize='all')
sns.heatmap(tab1_all, cmap='YlGnBu', annot=True, fmt='.2f')

In [ ]:
# 행백분율
    # normalize='index'
tab1_idx = pd.crosstab(df_ins['sex'], df_ins['smoker'], normalize='index')
tab1_idx
sns.heatmap(tab1_idx, cmap='YlGnBu', annot=True, fmt='.2f')

In [ ]:
# 열백분율
    # normalize='index'
tab1_col = pd.crosstab(df_ins['sex'], df_ins['smoker'], normalize='columns')
tab1_col
sns.heatmap(tab1_col, cmap='YlGnBu', annot=True, fmt='.2f')

In [ ]:
# 전체 비율을 추가한 열백분율
    # margins=True
tab1_col = pd.crosstab(df_ins['sex'], df_ins['smoker'], normalize='columns', margins=True)
tab1_col
sns.heatmap(tab1_col, cmap='YlGnBu', annot=True, fmt='.2f')

#### [실습] 두 범주형 변수의 관계 탐색

1. df_sp에서 'race/ethnicity'와 'parental level of education'의 교차표 만들기
2. 1.의 교차표에 margin 추가하기
3. 1.의 교차표를 seaborn의 heatmap( )으로 열지도로 시각화하기
4. 2.의 교차표에서 행 백분율, 열 백분율 계산하고 시각화 하기
5. 'race/ethnicity'와 'parental level of education'의 관계 해석하기

In [ ]:
df_sp.head()

In [ ]:
tab = pd.crosstab(df_sp['race/ethnicity'], df_sp['parental level of education'])
tab

In [ ]:
pd.crosstab(df_sp['race/ethnicity'], df_sp['parental level of education'], margins=True)

In [ ]:
sns.heatmap(tab, cmap='YlGnBu', annot=True)

In [ ]:
tabc = pd.crosstab(df_sp['race/ethnicity'], df_sp['parental level of education'], normalize='columns', margins=True)
sns.heatmap(tabc, cmap='YlGnBu', annot=True)

In [ ]:
df_sp = df_sp.sort_values('parental level of education')
tabi = pd.crosstab(df_sp['race/ethnicity'], df_sp['parental level of education'], normalize='index', margins=True)


new_column_order = ['high school', 'some high school', 'some college', "associate's degree", "bachelor's degree", "master's degree"]

# 열 순서 변경을 위해 reindex() 함수를 사용합니다.
tabi = tabi.reindex(columns=new_column_order)
tabi

In [ ]:
sns.heatmap(tabi, cmap='YlGnBu', annot=True)

### 5.3. 피벗테이블 생성 

pandas의 *pivot_table()*을 활용하면 Excel의 피벗테이블과 동일한 표 형태의 집계 가능

In [ ]:
# pivot_table()을 활용한 교차표 작성
    ## index  : 행 그룹변수
    ## columns: 열 그룹변수 
    ## values : 값 변수
    ## aggfunc: 집계 함수
pd.pivot_table(df_ins, index='sex', columns='region', values='charges', aggfunc='size')

In [ ]:
# pivot_table()을 활용한 평균 피벗테이블
pd.pivot_table(df_ins, index='sex', columns='region', values='charges', aggfunc='mean')

In [ ]:
# DataFrmae의 method, pivot_table()을 활용한 평균 피벗테이블
agg2_wide = df_ins.pivot_table(index='sex', columns='region', values='charges', aggfunc='mean')
agg2_wide

In [ ]:
# 열지도 시각화
sns.heatmap(agg2_wide, cmap='YlGnBu', annot=True, fmt='.2f')

<br>

#### [실습] df_sp 활용

1. 'race/ethnicity', 'parental level of education'별 'math score'의 평균을 피벗테이블로 계산
2. 1.의 결과를 열지도로 시각화

In [ ]:
df_sp.head()

In [ ]:
agg2_wide = df_sp.pivot_table(index='race/ethnicity', columns='parental level of education',
                              values='math score', aggfunc='mean')
agg2_wide

In [ ]:
new_column_order = ['high school', 'some high school', 'some college', "associate's degree", "bachelor's degree", "master's degree"]

sns.heatmap(agg2_wide.reindex(columns=new_column_order),
            cmap='YlGnBu', annot=True, fmt='.2f')

### 5.4. 형태 변환 변환

상황에 따라 *groupby()*를 써서 아래로 길게 늘어뜨린 요약 결과를 만들 수도 있고, *crosstab()*나 *pivot_table()*처럼 옆으로 펼친 결과를 만들기도 함  

두 데이터 형태는 각각 *pivot( )*과 *melt( )*로 전환 가능

In [ ]:
# groupby()로 아래로 늘어뜨린 요약 결과 생성
agg2_long = df_ins.groupby(['sex','region'], as_index=False)['charges'].mean()
agg2_long

In [ ]:
# DataFrmae의 method, pivot_table()을 활용한 평균 피벗테이블
agg2_wide = df_ins.pivot_table(index='sex', columns='region', values='charges', aggfunc='mean')
agg2_wide

In [ ]:
# 형태에 따른 그래프 작성 차이
import matplotlib.pyplot as plt
import seaborn as sns

# long -> 막대그래프
sns.barplot(data=agg2_long,
            x  ='region',
            y  ='charges',
            hue='sex')
plt.show()


# wide -> 열지도
sns.heatmap(agg2_wide, cmap='YlGnBu')
plt.show()

In [ ]:
# pivot()을 활용한 long -> wide 변환
pd.pivot(agg2_long, index='sex', columns='region', values='charges')
agg2_long.pivot(index='sex', columns='region', values='charges')

In [ ]:
# melt()를 활용한 wide-> long 변환
    # 먼저 index를 변수로 변환
agg2_wide.reset_index()

In [ ]:
pd.melt(agg2_wide.reset_index(), id_vars='sex')

In [ ]:
pd.melt(agg2_wide.reset_index(), id_vars='sex', value_name='charges')

<br>

#### [실습] 데이터 df_sp 활용

1. groupby()를 활용해서 'race/ethnicity', 'parental level of education'별 'writing score'의 중앙값 계산하고 저장하기

2. pivot_table()를 활용해서 'race/ethnicity', 'parental level of education'별 'writing score'의 중앙값 계산하고 저장하기

3. 1.의 결과를 pivot()을 활용해서 2.와 동일하게 변환하기

4. 2.의 결과를 melt()를 활용해서 1.과 동일하게 만들기

5. 3.의 결과를 seaborn의 heatmap()으로 시각화하기

In [ ]:
df_sp.head()

In [ ]:
agg2_long = df_sp.groupby(['race/ethnicity','parental level of education'], as_index=False)['writing score'].median()
agg2_long

In [ ]:
agg2_wide = df_sp.pivot_table(index='race/ethnicity', columns='parental level of education',
                              values='writing score', aggfunc='median')
agg2_wide

In [ ]:
agg2_long.pivot(index='race/ethnicity', columns='parental level of education',
                              values='writing score')

In [ ]:
pd.melt(agg2_wide.reset_index(), id_vars='race/ethnicity', value_name='writing score median')

In [ ]:
sns.heatmap(agg2_wide, cmap='YlGnBu')

<br>


## 6. 데이터 집계와 데이터 처리 

데이터 집계를 통해 얻은 정보를 다양한 방법으로 데이터 처리에 활용 가능  
가장 대표적인 방법은 데이터 집계를 통해 관심 대상을 확인하고 선택하는 방법

In [ ]:
# 집계값의 계산
agg2 = df_ins.groupby('region', as_index=False)['charges'].median()
agg2

In [ ]:
# 상위 2개 지역 선택
target_region = agg2.nlargest(2, 'charges')['region']
target_region

In [ ]:
# 전체 관측치에서 .isin()을 활용하여 해당 지역 관측치만 선택
cond = df_ins['region'].isin(target_region)
cond

In [ ]:
df_ins[cond]

<br>

#### [실습] df_sp 활용

1. 'parental level of education'별 'reading score'의 평균을 계산하고 **df_agg**로 저장하기
2. 1.의 **df_agg**에서 평균 점수 기준 상위 3개 관측치를 선택하고 변수 'parental level of education' 선택해서 **target_grp**로 저장하기
3. 2.의 **target_grp**와 *isin()*을 활용하여 전체 데이터 **df_sp**에서 해당 그룹 관측치(행)을 선택하고 **df_sub**로 저장하기
4. 3.의 **df_sub**를 활용하여 'race/ethnicity'별 'writing score'의 평균 계산

In [ ]:
df_agg = df_sp.groupby('parental level of education', as_index=False)['reading score'].mean()
df_agg

In [ ]:
target_grp = df_agg.nlargest(3, 'reading score')['parental level of education']
target_grp

In [ ]:
df_sub = df_sp[  df_sp['parental level of education'].isin(target_grp)   ]

In [169]:
df_sub.head

<bound method NDFrame.head of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
5    female        group B          associate's degree      standard
10     male        group C          associate's degree      standard
..      ...            ...                         ...           ...
979  female        group C          associate's degree      standard
986  female        group C          associate's degree      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
995  female        group E             master's degree      standard

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
2                      none          90             95             93
3                      none          47             57             44
5                      none          71             83             78
10                     none          58             54             52
..                      ...         ...            ...            ...
979                    none          91             95             94
986                    none          40             59             51
992                    none          55             76             76
993                    none          62             72             74
995               completed          88             99             95

[399 rows x 8 columns]>

In [ ]:
df_sub.groupby('race/ethnicity', as_index=False)['writing score'].mean()

<br>

## 7. 결과 데이터와 그래프의 저장

함수를 활용해서 분석 결과 데이터와 그래프를 저장 가능

In [ ]:
# 폴더 생성
%mkdir result

In [ ]:
# 대상 결과 데이터 확인
agg1 = agg2_wide.reindex(columns=new_column_order)
agg1

In [ ]:
# to_csv()로 결과 데이터를 csv 형식으로 저장하기
agg1.to_csv('result/result.csv', index=True)

In [ ]:
# 대상 그래프 확인
pt1 = df_ins.pivot_table(index='region', columns='smoker', values='charges', aggfunc='mean')
plot1 = sns.heatmap(pt1, cmap='Blues', annot=True, fmt='.2f')
plot1

In [ ]:
# savefig()을 활용한 그래프 저장
plot1.figure.savefig('result/plot1.jpg')

<br>
<hr>
<br>

## 8. 반응형 그래프의 활용

**plotly**를 활용해서 반응형 그래프를 그려서 탐색적 데이터 분석(EDA) 과정에서 유용하게 활용 가능

* 참고: [Plotly](https://plotly.com/python/)

In [ ]:
# seaborn을 활용한 산점도 
sns.scatterplot(data=df_ins, 
                x='bmi',
                y='charges', 
                hue='smoker')

In [ ]:
import plotly.express as px
px.scatter(df_ins,
           x='bmi',
           y='charges', 
           color='smoker')

#### [실습]
1. df_sp에서 `parental level of education`별로 색을 다르게 한  `math score`와 `reading score`의 산점도 그리기

In [ ]:
px.scatter(df_sp,
           x='math score',
           y='reading score', 
           color='parental level of education')

In [ ]:
df_sp.groupby('parental level of education')[['math score', 'reading score', 'writing score']].corr()

#### End of script